* {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* COLORS */
:root {
  --p50: #f1f8ff;
  --p100: #cbf8fd;
  --p200: #97ecfc;
  --p300: #63d6f8;
  --p400: #3cbdf1;
  --p500: #0097e8;
  --p600: #0075c7;
  --p700: #0057a7;
  --p800: #003e86;
  --p900: #002c6f;
  --ba: #050505a6;
  --bt: #333333;
  --wt: #eeeeee;
  --divider: #bfbfbf27;
  --divider2: #bfbfbf40;
  --divider3: #bfbfbf60;
  --trans: #ff000000;
  --cyan: #00ccff;
  --yellow: #f7cb1e;
  --green: #33cc66;
  --purple: #6699ff;
  --gray: #808080;
}

::selection {
  background: var(--p500);
  color: white;
}

body {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

a {
  text-decoration: none !important;
}

p {
  font-size: 13px;
}
label {
  font-size: 13px !important;
}
td {
  font-size: 13px;
  border-bottom: none !important;
}
th {
  font-size: 9px !important;
  border-bottom: none !important;
}

button {
  font-size: 13px !important;
}

.btn-p-outline {
  background: transparent !important;
  border: 2px solid var(--p500);
  color: var(--p500) !important;
}
.btn-p-outline:hover:not(:disabled) {
  background: var(--p200a) !important;
}
.btn-solid {
  background: var(--divider) !important;
}
.btn-outline {
  border: 1px solid var(--divider2);
}
.btn-outline:hover:not(:disabled),
.btn-solid:hover:not(:disabled) {
  background: var(--divider2) !important;
}
.btn:hover:not(:disabled) {
  background: var(--divider) !important;
}
.btn:active:not(:disabled),
.btn-solid:active:not(:disabled) {
  background: var(--divider3) !important;
}

.clicky:active:not(:disabled) {
  transform: scale(0.95);
}
.sm-clicky:active:not(:disabled) {
  transform: scale(0.9);
}

.lg-clicky:active:not(:disabled) {
  transform: scale(0.97);
}

input {
  border-radius: 6px !important;
  outline: none !important;
  border: 1px solid var(--divider3) !important;
  font-size: 13px !important;
  /* backdrop-filter: blur(10px); */
}
input::placeholder {
  /* opacity: 0.5; */
  color: #96969691;
}
input:focus,
input:focus-visible,
input.filled:focus,
input.filled:focus-visible,
select:focus {
  box-shadow: 0 0 0 2px var(--p500) !important;
  /* border: 1px solid var(--p500) !important; */
}
input.filled {
  border: none !important;
  background: var(--divider) !important;
}
input.filled:focus,
input.filled:focus-visible {
  background: transparent !important;
}

select {
  border: 1px solid var(--divider3) !important;
  font-size: 13px !important;
}

.chakra-alert {
  width: 100% !important;
  max-width: 300px !important;
}
.chakra-alert__title {
  font-size: 13px;
  line-height: normal !important;
}
.chakra-alert__desc {
  font-size: 13px;
  line-height: normal !important;
  margin-top: 4px;
  max-width: 200px !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@media screen and (min-width: 770px) {
  p {
    font-size: 15px;
  }
  label {
    font-size: 15px !important;
  }
  td {
    font-size: 15px;
  }
  th {
    font-size: 11px !important;
  }
  .chakra-alert__title {
    font-size: 15px;
  }
  .chakra-alert__desc {
    font-size: 15px;
  }

  button {
    font-size: 14px !important;
  }
  input {
    font-size: 14px !important;
  }
  select {
    font-size: 14px !important;
  }
}

/* custom styles */
.listItem {
  position: relative;
}
.before::before {
  content: "";
  width: 0px;
  height: 100%;
  background: var(--p500);
  position: absolute;
  left: 0;
  top: 0;
  transition: 200ms;
}
.listItem:hover .before::before {
  width: 4px;
}
